.container {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
    top: 0;
}

@media (max-width: 424px) {
    .header {
        height: 140px;
    }
}

@media (max-width: 1025px) {
    .header {
        grid-template-rows: 4fr 3fr !important;
        grid-template-columns: 1fr 6fr !important;
        grid-template-areas: "menunavStyle logo" "navHeader navHeader" !important;
    }
    .nav {
        margin-top: 0px !important;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .header {
        height: 20vh;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        height: 25vh;
    }
}

.header {
    display: grid;
    width: 100%;
    padding: var(--size-gap) var(--size-gutter);
    grid-template-columns: 2fr 12fr min-content;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". logo menunavStyle" "navHeader navHeader navHeader";
    justify-items: center;
    align-items: center;
    background-color: var(--background);
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px !important;
}

.header::after {
    grid-area: navHeader;
    content: "";
    display: block;
    width: var(--space-2xl);
    z-index: 1;
    align-self: stretch;
    background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    justify-self: flex-end;
}

@media (min-width: 1600px) {
    .header {
        grid-template-areas: "logo navHeader menunavStyle";
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 12fr min-content;
        justify-items: stretch;
    }
    .nav {
        border-top: 0px !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
}

.textlogo {
    font-family: "Raleway";
    font-weight: var(--semibold);
    font-size: 2.5em;
    color: black;
    min-width: 238px;
}

.nav {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding-top: 10px;
    grid-area: navHeader;
    align-self: stretch;
}