.container {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
}

.headerStrip {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 35px;
}

@media (max-width: 1025px) {
    .logo {
        width: 90vw !important;
    }
    .headerStrip {
        flex-direction: column;
    }
    .menuItems {
        display: none !important;
    }
}

.header {
    display: grid;
    width: 100%;
    padding: var(--size-gap) var(--size-gutter);
    grid-template-columns: 2fr 12fr min-content min-content;
    grid-template-areas: "logo . searchButton cartButton" "navHeader navHeader navHeader navHeader";
    align-items: center;
    background-color: var(--background);
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px !important;
}

.header::after {
    grid-area: navHeader;
    content: "";
    display: block;
    width: var(--space-2xl);
    z-index: 1;
    align-self: stretch;
    background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    justify-self: flex-end;
}

@media (min-width: 1600px) {
    .header {
        grid-template-areas: "logo navHeader searchButton cartButton";
    }
}

.textlogo {
    font-family: "Raleway";
    font-weight: var(--semibold);
    font-size: 2.5em;
    color: black;
    min-width: 238px;
}

.logo {
    display: flex;
    grid-area: logo;
    height: 100%;
    width: 170%;
    align-items: center;
    justify-content: center;
    color: var(--text-color-secondary);
}

.logo:hover {
    color: var(--text-color);
    text-decoration: none;
}

.logo[aria-current="page"] {
    color: var(--primary);
}

.nav {
    grid-area: navHeader;
    align-self: stretch;
}

.searchButton {
    color: var(--black);
    grid-area: searchButton;
    width: var(--size-input);
    height: var(--size-input);
    display: grid;
    place-items: center;
    transition: 125ms;
}

.searchButton:hover {
    color: var(--brown);
}

.searchButton[aria-current="page"] {
    color: var(--primary);
}