.navStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    font-weight: var(--light);
    font-family: "Public Sans";
    /* margin-right: 10%; */
    text-transform: uppercase;
}

.navLink {
    cursor: pointer;
    text-decoration: none;
    height: var(--size-input);
    display: flex;
    color: var(--black);
    align-items: center;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    transition: 125ms;
}

.navLink:hover {
    color: var(--brown);
}

.activeLink,
.navLink[aria-active="page"] {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.activeLink:hover,
.navLink[aria-active="page"]:hover {
    color: var(--primary);
}

@media (max-width: 1025px) {
    .navStyle {
        justify-content: flex-start;
    }
}