.productCardContainer {
    max-height: 376px;
    margin-bottom: 20px;
}

.productCardStyle {
    max-width: 327px;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: var(--space-md);
}

.productImageStyle {
    margin-bottom: var(--space-md);
}

.productDetailsStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: var(--semibold);
    max-width: 330px;
}

@media (max-width: 1024px) {
    .productCardContainer {
        max-height: 405px !important;
    }
}

.productVendorStyle {
    font-size: var(--text-sm);
    color: var(--text-color-secondary);
}

.productHeadingStyle {
    width: 100%;
    font-size: var(--text-lg);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: var(--dense);
}

.productPrice {
    color: var(--text-color-secondary);
}